rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {


    /* ==========================================
       USERS
       ========================================== */

    match /users/{userId} {

      allow read:
        if request.auth != null;

      allow create:
        if request.auth != null
        && request.auth.uid == userId;

      allow update:
        if request.auth != null
        && request.auth.uid == userId;

    }


    /* ==========================================
       SERVERS
       ========================================== */

    match /servers/{serverId} {

      allow read:
        if request.auth != null;

      allow create:
        if request.auth != null
        && request.resource.data.ownerId
           == request.auth.uid;

      allow update:
        if request.auth != null;

      allow delete:
        if request.auth != null
        && resource.data.ownerId
           == request.auth.uid;


      /* ========================================
         MEMBERS
         ======================================== */

      match /members/{userId} {

        allow read:
          if request.auth != null;

        allow create:
          if request.auth != null;

        allow update:
          if request.auth != null;

        allow delete:
          if request.auth != null
          && (
            request.auth.uid == userId
            ||
            get(
              /databases/$(database)/documents/
              servers/$(serverId)
            ).data.ownerId
            == request.auth.uid
          );

      }


      /* ========================================
         VEHICLES
         ======================================== */

      match /vehicles/{vehicleId} {

        allow read:
          if request.auth != null;

        allow create:
          if request.auth != null;

        allow update:
          if request.auth != null;

        allow delete:
          if request.auth != null;

      }


      /* ========================================
         OPERATIONS
         ======================================== */

      match /operations/{operationId} {

        allow read:
          if request.auth != null;

        allow create:
          if request.auth != null;

        allow update:
          if request.auth != null;

        allow delete:
          if request.auth != null;

      }


      /* ========================================
         RADIO
         ======================================== */

      match /radio/{messageId} {

        allow read:
          if request.auth != null;

        allow create:
          if request.auth != null;

        allow update:
          if request.auth != null;

        allow delete:
          if request.auth != null;

      }


      /* ========================================
         REPORTS
         ======================================== */

      match /reports/{reportId} {

        allow read:
          if request.auth != null;

        allow create:
          if request.auth != null;

        allow update:
          if request.auth != null;

        allow delete:
          if request.auth != null;

      }

    }

  }

}
